- page_title(@r.name.capitalize)
- title(@r.name.capitalize)
- description(@r.name.capitalize)
- keywords(@r.name.capitalize)
- footers(@r.name.capitalize)

- content_for :breadcrumbs do
  %ul
    %li= link_to t('all_o'), root_path
    %li &raquo;
    %li= link_to @r.o.name.capitalize, @r.o
    %li &raquo;
    %li= @r.name.capitalize

%ul.list
  - @r.ms.each do |o|
    %li= link_to o.name, [@r.o, @r, o]
%div.clear